.services {
  .card {
    h3 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 12px;
    }
    p {
      line-height: 24px;
      color: #797979;
    }
  }
}
